# Maintenance Page settings
maintenance {
  port = 8091

  user = "coi"
  password = "coicoi"

  search_limit = 10
  dsmoq_url_root = "http://localhost:8080/"

  image_dir = "../../storage/image"
  file_dir = "../../storage/file"
  app_dir = "../../storage/jws"
}
