[submodule "client/lib/setImmediate"]
	path = client/lib/setImmediate
	url = https://github.com/NobleJS/setImmediate.git
[submodule "client/lib/promhx"]
	path = client/lib/promhx
	url = https://github.com/jdonaldson/promhx.git
[submodule "client/lib/pushstate"]
	path = client/lib/pushstate
	url = https://github.com/illi-ichi/hxpushstate.git
[submodule "client/lib/mocha.js-haxe"]
	path = client/lib/mocha.js-haxe
	url = https://github.com/illi-ichi/mocha.js-haxe.git
