*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

sdk/.idea/
sdk/.idea/*
.idea/
.idea/*

application.conf

tmp/session/*
