{^{async data ~tag=data.tag}}
<div style="margin: 40px 20px;">
	{{:message}}
</div>
<h2 class="ttl"><span>My Datasets</span></h2>
{{if !isGuest}}
	{^{async myDatasets}}
<ul class="dataset-container">
		{^{if #data.length > 0}}
			{^{for #data}}
	<li>
		<div class="dataset-head">
			<a href="/datasets/{{>id}}">
				<p class="thumb">
					<span class="thumb-image">
						<img src="{{>image+'/128'}}" srcset="{{>image+'/128'}} 1x, {{>image+'/256'}} 2x" alt="{{>name}}">
					</span>
				</p>
					<span class="dataset-title">{{>name}}</span>
			</a>
			<div class="dataset-description">
					{{if ~trimTags(description)}}
				{{: ~trimTags(description)}}
					{{else}}
				<span class="text-muted">(No description)</span>
					{{/if}}
			</div>
		</div>
		<div class="file">{{>files}} files <small>({{datasize dataSize /}})</small></div>
		<div class="tag">
				{{for attributes}}
					{{if value=="$tag"}}
			<a style="background-color: {{: ~getTagColor(~tag)(name)}}">{{>name}}</a>
					{{/if}}
				{{/for}}
		</div>
	</li>
			{{/for}}
		{{else}}
	<p>There are no datasets.</p>
		{{/if}}
</ul>
	{{/async}}
{{/if}}
{{/async}}
