<h2>Dashboard</h2>

<div class="panel panel-default recent-data-set">
  <div class="panel-heading">Recent Datasets</div>
  <div class="panel-body" id="recent-datasets">
    {^{if isRecentDatasetsLoading}}
      <img src="/resources/loading-large.gif" alt="loading">
    {{else}}
      {^{for recentDatasets}}
        <ul>
          <li class="dataset-item">
            <div class="row">
              <div class="pull-left">{{a href="/datasets/"+id}}<img src="{{>image+'/64'}}">{{/a}}</div>
              <div class="result-list-body">
                <h3>{{a href="/datasets/"+id}}{{>name}}{{/a}} <small>{{>files}} file, {{datasize dataSize/}}</small></h3>
                <p>{{>description}}</p>
                <p>
                  {{for ownerships ~last=(ownerships.length-1)}}
                    {{if ownerType == 1}}
                      <img src="{{>image+'/16'}}" class="icon"><strong>{{>fullname}}</strong>
                    {{else ownerType == 2}}
                      <img src="{{>image+'/16'}}" class="icon"><strong>{{>name}}</strong>
                    {{/if}}
                  {{/for}}
                </p>
              </div>
            </div>
          </li>
        </ul>
      {{else}}
        No datasets
      {{/for}}
    {{/if}}
  </div>
</div>

{{if !isGuest}}
  <div class="panel panel-default recent-data-set">
    <div class="panel-heading">My Datasets</div>
    <div class="panel-body" id="my-datasets">
      {^{if isMyDatasetsLoading}}
        <img src="/resources/loading-large.gif" alt="loading">
      {{else}}
        {^{for recentDatasets}}
          <ul>
            <li class="dataset-item">
              <div class="row">
                <div class="pull-left">{{a href="/datasets/"+id}}<img src="{{>image+'/64'}}">{{/a}}</div>
                <div class="result-list-body">
                  <h3>{{a href="/datasets/"+id}}{{>name}}{{/a}} <small>{{>files}} file, {{datasize dataSize/}}</small></h3>
                  <p>{{>description}}</p>
                  <p>
                    {{for ownerships ~last=(ownerships.length-1)}}
                      {{if ownerType == 1}}
                        <img src="{{>image+'/16'}}" class="icon"><strong>{{>fullname}}</strong>
                      {{else ownerType == 2}}
                        <img src="{{>image+'/16'}}" class="icon"><strong>{{>name}}</strong>
                      {{/if}}
                    {{/for}}
                  </p>
                </div>
              </div>
            </li>
          </ul>
        {{else}}
          No datasets
        {{/for}}
      {{/if}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">My Groups</div>
    <div class="panel-body" id="my-groups">
      {^{if isMyGroupsLoading}}
        <img src="/resources/loading-large.gif" alt="loading">
      {{else}}
        {^{if myGroups.length > 0}}
          <ul>
            {^{for myGroups}}
              <li class="dataset-item">
                <div class="row">
                  <div class="pull-left"><img src="{{>image}}"></div>
                  <div class="result-list-body">
                    <h3>{{a href="/groups/"+id}}{{>name}}{{/a}} <small>{{>members}} members, {{>datasets}} datasets</small></h3>
                    <p>{{>description}}</p>
                  </div>
                </div>
              </li>
            {{/for}}
          </ul>
        {{else}}
          No groups
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}