# dsmoq settings
dsmoq {
  development {
    image_dir = "../storage/image"
    file_dir = "../storage/file"
    temp_dir = "../storage/temp"
    message_dir = "../storage"
    image_url_root = "http://localhost:8080/images/"
    file_url_root = "http://localhost:8080/files/"
    file_limit = 20
  }
  test {
    image_dir = "../test_storage/image"
    file_dir = "../test_storage/file"
    temp_dir = "../test_storage/temp"
    message_dir = "../test_storage"
    image_url_root = "http://localhost:8080/images/"
    file_url_root = "http://localhost:8080/files/"
    file_limit = 20
  }
}
