<ul class="pagination {{>cls}}" data-value="{{>page}}">
  {{if index <= 0}}
    <li class="disabled"><a href="javascript:void 0;">&laquo;</a></li>
  {{else}}
    <li><a href="javascript:void 0;" data-value="0">&laquo;</a></li>
  {{/if}}
  {{for range ~index=index}}
    {{if #data == ~index}}
      <li class="active"><a href="javascript:void 0;">{{>#data+1}}</a></li>
    {{else}}
      <li><a href="javascript:void 0;" data-value="{{>#data}}">{{>#data+1}}</a></li>
    {{/if}}
  {{/for}}
  {{if (index + 1) >= pages}}
    <li class="disabled"><a href="javascript:void 0;">&raquo;</a></li>
  {{else}}
    <li><a href="javascript:void 0;" data-value="{{>pages-1}}">&raquo;</a></li>
  {{/if}}
</ul>