<ul id="{{>id}}" class="pagination {{>cls}}" data-value="{{>page}}">
  {{if page <= 1}}
    <li class="disabled"><a href="javascript:void 0;">&laquo;</a></li>
  {{else}}
    <li><a href="javascript:void 0;" data-value="1">&laquo;</a></li>
  {{/if}}
  {{for range}}
    {{if #data == #parent.parent.data.page}}
      <li class="active"><a href="javascript:void 0;">{{>#data}}</a></li>
    {{else}}
      <li><a href="javascript:void 0;" data-value="{{>#data}}">{{>#data}}</a></li>
    {{/if}}
  {{/for}}
  {{if page >= last}}
    <li class="disabled"><a href="javascript:void 0;">&raquo;</a></li>
  {{else}}
    <li><a href="javascript:void 0;" data-value="{{>last}}">&raquo;</a></li>
  {{/if}}
</ul>