{^{async data ~tag=data.tag}}
	{^{async featuredDatasets}}
		{^{if #data.length > 0}}
<div id="feature" class="slider-pro">
	<div class="sp-slides">
		<ul>
			{^{for #data}}
			<li class="sp-slide">
				<a href="/datasets/{{>id}}" data-navigation class="sp-image">
					<span class="img" style="background-image: url('{{>featuredImage}}');"></span>
					<p>{{>name}}</p>
				</a>
			</li>
			{{/for}}
		</ul>
	</div>
	<div class="sp-thumbnails">
			{^{for #data}}
			<span class="sp-thumbnail" style="background-image: url('{{>featuredImage}}');"></span>
			{{/for}}
	</div>
</div>
		{{/if}}
	{{/async}}
<!-- Recent Datasets -->
<h2 class="ttl"><img src="/resources/img/top/ttl_recent.jpg" alt="Recent Datasets"/></h2>
	{^{async recentDatasets}}
<ul class="dataset-container">
		{^{if #data.length > 0}}
			{^{for #data}}
	<li>
		<div class="dataset-head">
			<a href="/datasets/{{>id}}">
				<p class="thumb"><img src="{{>image+'/128'}}" srcset="{{>image+'/128'}} 1x, {{>image+'/256'}} 2x" alt="{{>name}}"></p>
				<span class="dataset-title">{{>name}}</span>
			</a>
			<div class="dataset-description">
					{{if ~trimTags(description)}}
				{{: ~trimTags(description)}}
					{{else}}
				<span class="text-muted">(No description)</span>
					{{/if}}
			</div>
		</div>
		<div class="file">{{>files}} files <small>({{datasize dataSize /}})</small></div>
		<div class="tag">
				{{for attributes}}
					{{if value=="$tag"}}
			<a style="background-color: {{: ~getTagColor(~tag)(name)}}">{{>name}}</a>
					{{/if}}
				{{/for}}
		</div>
	</li>
			{{/for}}
		{{else}}
	<p>There are no datasets.</p>
		{{/if}}
</ul>
	{{/async}}
{{/async}}
