<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="INFO" class="ch.qos.logback.core.FileAppender">
    <File>info.log</File>
    <Append>true</Append>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- the filter element -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
        <marker>AUTH_LOG</marker>
      </evaluator>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <File>auth.log</File>
    <Append>true</Append>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_ZIP" class="ch.qos.logback.core.FileAppender">
    <!-- the filter element -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
        <marker>ZIP_LOG</marker>
      </evaluator>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <File>zip.log</File>
    <Append>true</Append>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %marker %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="dsmoq.logic.ZipUtil" level="DEBUG">
    <appender-ref ref="FILE_ZIP" />
  </logger>

  <appender name="USER_GROUP" class="ch.qos.logback.core.FileAppender">
    <!-- the filter element -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
        <marker>USER_GROUP</marker>
      </evaluator>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <File>any.log</File>
    <Append>true</Append>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %marker %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="dsmoq.services" level="DEBUG">
    <appender-ref ref="USER_GROUP" />
  </logger>

  <root level="INFO">
<!--
    <appender-ref ref="STDOUT" />
-->
    <appender-ref ref="FILE" />

    <appender-ref ref="INFO" />
  </root>
</configuration>
