{^{async data}}
  <ol class="breadcrumb">
    <li><a href="/" data-navigation>Top</a></li>
    <li><a href="/groups" data-navigation>Groups</a></li>
    <li><a href="/groups/{{>group.id}}" data-navigation>{^{>group.name}}</a></li>
    <li class="active">Edit</li>
  </ol>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#group-basics" data-toggle="tab">Basics</a></li>
      <li><a href="#group-icon" data-toggle="tab">Icon</a></li>
      <li><a href="#group-members" data-toggle="tab">Members</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="group-basics">
        <form role="form">
          {^{if ~isEmpty(groupErrors.name)}}
            <div class="form-group" style="width:300px;">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" placeholder="Group Name" data-link="group.name">
            </div>
          {{else}}
            <div class="form-group has-error has-feedback" style="width:300px;">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" placeholder="Group Name" data-link="group.name">
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <p class="text-danger" data-link="groupErrors.name"></p>
          {{/if}}
          {^{if ~isEmpty(groupErrors.description)}}
            <div class="form-group" style="width:600px;">
              <label class="control-label">Description</label>
              <textarea id="description"></textarea>
            </div>
          {{else}}
            <div class="form-group has-error has-feedback" style="width:600px;">
              <label class="control-label">Description</label>
              <textarea id="description"></textarea>
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <p class="text-danger" data-link="groupErrors.description"></p>
          {{/if}}
        </form>
        <div class="row">
          <p class="col-sm-12">
            <a href="javascript:void 0;" class="btn btn-primary" data-loading-text="Saving..." id="group-basics-submit">Save</a>
          </p>
        </div>
      </div>

      <div class="tab-pane" id="group-icon">
        <div class="form-group">
          <div>
            <img data-link="src{>group.primaryImage.url+'/128'} srcset{>group.primaryImage.url+'/128 1x, '+group.primaryImage.url+'/256 2x'}" alt="icon">
          </div>
        </div>
        <form role="form" id="group-icon-form">
          <div class="form-group">
            <div><label class="control-label">Change icon</label></div>
            <div>
              <a class="btn btn-primary" id="group-icon-select">Select</a>
            </div>
          </div>
        </form>
      </div>

      <div class="tab-pane" id="group-members">
        {^{async members}}
          <div style="margin-bottom: 10px">
            <button class="btn btn-default" type="button" id="add-member-menu-item"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
          <table class="table table-striped">
            <tbody>
              {^{for items ~myself=#parent.data.myself}}
                <tr data-index="{{>#index}}">
                  <td>
                    <div class="media">
                      <div class="pull-left">
                        <img src="{{>image}}/48" srcset="{{>image}}/48 1x, {{>image}}/96 2x" />
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading"><strong>{{>fullname}}</strong> <small>{{>name}} &raquo; {{>organization}} {{>title}}</small></h4>
                        <p>{{>description}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{if ~myself.id == id && role == 2}}
                      Manager
                    {{else}}
                      <select class="form-control dsmoq-role-select" style="width:auto;" data-link="{:role:toInt}">
                        <option value="2">Manager</option>
                        <option value="1">Member</option>
                      </select>
                    {{/if}}
                  </td>
                  <td>
                    {{if ~myself.id != id}}
                      <button class="btn btn-default dsmoq-remove-button"><span class="glyphicon glyphicon-trash"></span></button>
                    {{/if}}
                  </td>
                </tr>
              {{/for}}
            </tbody>
          </table>
          {^{pagination index pages id="member-pagination" pagedelta=5 /}}
        {{/async}}
      </div>
    </div>
  </div>
{{/async}}
