{^{async data}}
  <ol class="breadcrumb">
    <li><a href="/" data-navigation>Top</a></li>
    <li><a href="/groups" data-navigation>Groups</a></li>
    <li class="active">{^{>group.name}}</li>
  </ol>

  <div class="panel panel-default">
    <div class="panel-body group-panel">
      <div class="row">
        <div class="col-sm-10">
          <h1>
			<div class="pull-left group-image">
				<img data-link="src{>group.primaryImage.url+'/128'}" alt="group image">
			</div>
			<div>
				{^{>group.name}} {^{if group.role >= 1}}<small>(joined)</small>{{/if}}
			</div>
          </h1>
          <p class="group-description">{^{: ~trimScriptTags(group.description)}}</p>
        </div>
        <div class="col-sm-2 text-right">
          {^{if group.role >= 2}}
            <div class="btn-group-vertical">
              <button type="button" class="btn btn-default btn-lg" id="group-edit"><span class="glyphicon glyphicon-edit"></span> Edit</button>
              <button type="button" class="btn btn-default btn-lg" id="group-delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
	
<div class="row">
	<div class="col-md-12 caption">
		<p><h3>Members</h3></p>
	</div>
</div>
  {^{async members}}
    <div class="panel panel-default panel-with-pagination">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">Members: {{>total}} records</div>
          <div class="col-sm-6 text-right">
            {^{pagination index pages id="group-members-pagination" class="pagination-sm" pagedelta=5 /}}
          </div>
        </div>
      </div>
      <table class="table">
        <tbody>
          {^{for items}}
            <tr>
              <td><img data-link="src{>image+'/16'}"> {{>fullname}}</td>
              <td>{{>organization}}</td>
              <td>{{if role == 2}}Manager{{/if}}</td>
            </tr>
          {{/for}}
        </tbody>
      </table>
    </div>
  {{/async}}
<div class="row">
	<div class="col-md-12 caption">
		<p><h3>Datasets</h3></p>
	</div>
</div>
  {^{async datasets}}
	  {^{if total > 0}}
		<p><strong>Found {^{>total}} records</strong></p>
		<ul class="media-list dataset-list">
		  {^{for items}}
			<li class="media">
			  <div class="pull-left" style="width: 96px; text-align: center;">
				<a class="media-left" href="#"><img src="{{>image+'/96'}}" alt="{{>name}}" /></a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading"><a href="/datasets/{{>id}}" data-navigation>{{>name}}</a></h4>
				<p>{{if ~trimTags(description)}}{{:~trimTags(description)}}{{else}}<span class="text-muted">(No description)</span>{{/if}}</p>
				<div>
				  {{for ownerships ~length=ownerships.length}}
					<span class="label label-success">
					  <span class="glyphicon glyphicon-user"></span>
					  {{if ownerType == 1}} {{>fullname}} {{else}} {{>name}} {{/if}}
					</span>&nbsp;
				  {{/for}}
				</div>
				<div>
				  <span class="label label-default">{{>files}} files ({{datasize dataSize /}})</span>&nbsp;
				  {{for attributes}}
					<span class="label label-info"><span class="glyphicon glyphicon-tag"></span> {{>name}}{{if value}} : {{>value}}{{/if}}</span>
				  {{/for}}
				</div>
			  </div>
			</li>
		  {{/for}}
		</ul>
		{^{pagination index pages id="group-datasets-pagination" class="pagination-sm" pagedelta=5 /}}
	  {{else}}
		 <p>There are no datasets.</p>
	  {{/if}}
  {{/async}}
{{/async}}