input::-ms-clear {
  display: none;
}
.btn-default.unactive {
  color: lightgray;
}
.loading-mask {
  background-color: #2e3338;
  outline: none;
  position: absolute;
  overflow: visible;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}
.loading-mask-body {
  color: white;
  font-family: "Segoe UI", "游ゴシック", YuGothic, Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 16px 30px;
}
.loading-mask-footer {
  border-top: 1px solid #1c1e22;
  text-align: center;
  padding: 8px 30px;
}
.loading-mask-backdrop {
  background-color: white;
  filter: alpha(opacity=50);
  opacity: 0.5;
  position: absolute;
  text-align: center;
}
.loading-mask-backdrop .ac-loading-image {
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
}
.page-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}
.tab-pane {
  padding-top: 8px;
}
.modal-dialog-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading {
  height: 200px;
  background-image: url("/resources/loading-large.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
.breadcrumb {
  margin-top: 50px;
}
.breadcrumb > .active {
  color: #555;
  font-weight: bold;
}
.well {
  margin-bottom: 10px;
}
.dataset-item {
  list-style: none outside none;
  border-bottom: 1px dashed gray;
}
.panel li p,
.panel li h4 {
  margin: 0px;
}
.table {
  margin-bottom: 0px;
}
.panel-with-pagination .panel-heading {
  padding-bottom: 0;
}
.panel-with-pagination .input-group {
  padding-bottom: 4px;
}
.panel .pagination {
  margin-top: 0;
  margin-bottom: 0;
}
.panel-request-to-join table > tbody > tr > td {
  vertical-align: inherit;
}
hr {
  margin: 5px;
}
.form-group {
  margin-bottom: 7px;
}
.dataset-item {
  padding-bottom: 8px;
}
.dataset-item .result-list-body {
  margin-left: 125px;
}
.panel .dataset-item .result-list-body {
  margin-left: 72px;
}
.panel img.icon,
.table img.icon,
.well img.icon,
.form-control img.icon {
  width: 16px;
  height: 16px;
  margin: 0 2px 2px 0;
  vertical-align: middle;
}
.panel ul {
  padding-left: 15px;
}
.panel li h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.statictics .large {
  font-size: x-large;
}
.col-selections {
  width: 200px;
}
.col-buttons {
  width: 150px;
}
.col-min-width {
  width: 40px;
}
.login-form .dropdown-menu {
  min-width: 320px;
  padding-right: 4px;
}
.panel .view-description {
  min-height: 40px;
  padding-bottom: 30px;
  font-size: 18px;
}
.status {
  padding: 0px 3px 5px;
  font-size: 70%;
}
.title-owners {
  font-size: 60%;
  margin-top: 10px;
}
.dataset-list .media {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 3px;
}
.dataset-view-body {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
}
.dataset-view-body .form-group {
  padding-bottom: 15px;
}
.tab-panel {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 10px 5px;
}
.login-failure {
  color: red;
  font-size: x-small;
}
.upload-area {
  border-style: dashed;
  border-width: 3px;
}
a:hover {
  cursor: pointer;
}
.container[name="page-body"] {
  padding-top: 10px;
}
select.disabled,
.can-disable.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.autocomplete-suggestion {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 6px 0px;
  font-size: 14px;
  background-color: white;
  position: absolute;
  z-index: 1500;
  max-height: 80px;
  overflow-y: auto;
}
.autocomplete-suggestion-item {
  padding: 6px 12px;
  cursor: pointer;
}
.autocomplete-suggestion-item-hover {
  background-color: #d9edf7;
}
.autocomplete-suggestion-item-selected {
  color: white;
  background-color: #428bca;
}
.dsmoq-filter .row {
  margin-top: 8px;
}
.dsmoq-filter .row:first-of-type {
  margin-top: 0;
}
.dsmoq-filter .list-group {
  margin: 0;
  float: left;
}
.dsmoq-filter .list-group .list-group-item {
  float: left;
  margin-right: 5px;
  border-radius: 0;
  padding: 6px 12px;
}
.form-group .twitter-typeahead {
  width: 100%;
}
.popover {
  max-width: 600px;
}
h2.ttl {
  background: url(img/top/ttl_recent_bg.jpg) repeat-x;
  background-size: 260px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 55px;
}
h2.ttl img {
  width: 260px;
  height: 55px;
}
h2.ttl span {
  display: inline-block;
  width: 300px;
  padding: 6px 0 0 0;
  font-size: 20px;
  font-weight: bold;
  background: #203060;
  color: white;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 22px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
#welcome {
  margin-top: 80px;
  margin-bottom: 80px;
}
.dataset-container {
  margin-bottom: 80px;
}
.cell:nth-child(odd) {
  margin-left: 10px;
  margin-right: 0px;
}
.cell:nth-child(even) {
  margin-left: 0px;
  margin-right: 10px;
}
.cell {
  float: left;
  width: 575px;
  height: 350px;
  border: 1px solid #7a7a7a;
  padding: 40px;
  background-color: #fafafa;
  margin-bottom: 20px;
}
.cell h3 {
  margin: 0px;
}
.middle-bar {
  height: 220px;
  border: 1px solid #7a7a7a;
  border-right: 0px;
  background-color: #fafafa;
}
.statistics {
  padding: 15px 0px 0px 60px;
}
.big-button {
  text-align: center;
  padding-top: 15px;
}
.middle-bar h3 {
  margin-top: 10px;
}
.middle-bar:first-of-type {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
.middle-bar:last-of-type {
  border-right: 1px solid #7a7a7a;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}
.clear {
  clear: both;
}
.cell span.label {
  padding: .0em .6em .0em;
}
.caption {
  border: 1px solid #7a7a7a;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #7a7a7a;
}
.cell .ds-image {
  float: left;
  margin-right: 5px;
  width: 100px;
}
.cell .ds-title {
  float: left;
  width: 380px;
}
.header-txt {
  color: #ffffff !important;
}
.dataset-panel {
  padding: 30px;
}
.dataset-panel h1 {
  margin: 0px;
}
.dataset-image {
  padding-right: 30px;
  padding-bottom: 30px;
}
.group-panel {
  padding: 30px;
}
.group-panel h1 {
  margin: 0px;
}
.group-image {
  padding-right: 30px;
}
.group-description {
  font-size: 18px;
}
table.attribute-table {
  width: auto;
  min-width: auto;
}
.zipedfiles {
  margin-bottom: 0px;
  margin-top: 0px;
}
#upload-image {
  position: relative;
  overflow: hidden;
}
#image-form input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}
.image-box {
  float: left;
  height: 150px;
  width: 110px;
  padding: 10px;
  word-wrap: break-word;
}
#dataset-attribute-import {
  position: relative;
  overflow: hidden;
}
#csv-file {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}
#new-dataset-form input[type="file"] {
  padding-top: 10px;
}
.zipedfile-area {
  max-height: 300px;
  overflow: auto;
  margin-top: 10px;
}
#profile-icon {
  position: relative;
  width: 70px;
  overflow: hidden;
}
#wrap {
  width: 100%;
  position: relative;
  height: auto !important;
  /*IE6対策*/
  height: 100%;
  /*IE6対策*/
  min-height: 100%;
}
/* ------ */
body {
  margin: 0;
  font-size: 14px;
  line-height: 160%;
  color: #333;
  word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
img {
  border: 0;
  vertical-align: bottom;
}
a {
  color: #003366;
}
a:hover {
  text-decoration: none;
}
a:hover img {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}
.clear {
  clear: both;
}
/* Header
---------------------------- */
#innerHeader {
  position: relative;
}
#innerHeader h1 {
  margin: 0;
  padding: 0;
}
#innerHeader h1 a {
  width: 260px;
  height: 100px;
  position: absolute;
  background: url(img/common/head/logo.png) no-repeat 50% 0;
  background-size: 260px;
  text-indent: -9999px;
  top: 0;
  left: 0;
  z-index: 100;
}
#innerHeader ul.gNav {
  width: 540px;
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}
#innerHeader ul.gNav.login {
  width: 730px;
}
#innerHeader ul.gNav li {
  margin: 0;
  padding: 0;
}
#innerHeader ul.gNav li a {
  display: block;
  width: 130px;
  height: 45px;
  margin: 0;
  float: left;
  text-indent: -9999px;
}
#innerHeader ul li.about a {
  background: url(img/common/head/about.png) no-repeat 50% 45%;
  background-size: 52px;
  border-top: #CCDEF0 solid 5px;
}
#innerHeader ul li.about a:hover {
  background: #ccdef0 url(img/common/head/about.png) no-repeat 50% 45%;
  background-size: 52px;
  border-top: #CCDEF0 solid 5px;
}
#innerHeader ul li.dataset a {
  background: url(img/common/head/dataset.png) no-repeat 50% 45%;
  background-size: 65px;
  border-top: #7FACD8 solid 5px;
}
#innerHeader ul li.dataset a:hover {
  background: #7facd8 url(img/common/head/dataset.png) no-repeat 50% 45%;
  background-size: 65px;
  border-top: #7FACD8 solid 5px;
}
#innerHeader ul li.group a {
  background: url(img/common/head/group.png) no-repeat 50% 45%;
  background-size: 63px;
  border-top: #4C8AC9 solid 5px;
}
#innerHeader ul li.group a:hover {
  background: #4c8ac9 url(img/common/head/group.png) no-repeat 50% 45%;
  background-size: 63px;
  border-top: #4C8AC9 solid 5px;
}
#innerHeader ul li.create-dataset a {
  width: 190px;
  background: url(img/common/head/create.png) no-repeat 50% 45%;
  background-size: 120px;
  border-top: #266CB8 solid 5px;
}
#innerHeader ul li.create-dataset a:hover {
  background: #266cb8 url(img/common/head/create.png) no-repeat 50% 45%;
  background-size: 120px;
  border-top: #266BC8 solid 5px;
}
#innerHeader .data {
  background: #EEE;
  padding: 3px 10px 3px 250px;
  font-size: 9px;
  color: #666;
}
#innerHeader .data big {
  color: #0059B2;
  margin: 0 5px;
  font-size: 12px;
}
.signin {
  border: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.signin.name {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 45px;
  margin: 0;
  padding: 12px 0 0 0;
  text-align: center;
  text-decoration: none;
  border-top: #004DA8 solid 5px;
  color: #555;
}
.signin.name:hover {
  background-color: #004DA8;
  border-top: #004DA8 solid 5px;
  color: #EEE;
}
.signin label.login-btn {
  width: 150px;
  display: block;
  background: #0059b2 url(img/common/head/login.png) no-repeat 50% 55%;
  background-size: 80px;
  border-bottom: #004DA8 solid 5px;
  height: 75px;
  margin: 0;
  text-indent: -9999px;
  cursor: pointer;
  position: relative;
}
.signin label.login-btn:hover {
  background: #004da8 url(img/common/head/login.png) no-repeat 50% 55%;
  background-size: 80px;
  border-bottom: #004DA8 solid 5px;
}
input[type="checkbox"].on-off {
  display: none;
}
.signin ul.signin_area {
  width: 300px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background: url(img/common/login/bg.png);
  right: 0;
  top: 74px;
  z-index: 1000;
  text-align: left;
}
.signin ul.signin_area li {
  padding: 10px;
  margin: 0;
}
.signin ul.signin_area li div {
  padding: 10px;
}
.signin ul.signin_area li div a {
  display: block;
  background: #0059b2 url(img/common/login/arrow_right.png) no-repeat 98% 50%;
  background-size: 10px;
  border: 1px solid #FFFCBB;
  color: #FFFCBB;
  font-size: 14px;
  width: 100%;
  height: auto;
  padding: 7px 0;
  text-align: center;
  text-indent: 0;
  margin: 0 0 10px 0;
  text-decoration: none;
}
.signin ul.signin_area li div a:hover {
  background: #ffffff url(img/common/login/arrow_right_bl.png) no-repeat 98% 50%;
  background-size: 10px;
  border: 1px solid #FFF;
  color: #3078C1 ;
}
input[type="checkbox"].on-off + ul {
  height: 0;
  overflow: hidden;
}
input[type="checkbox"].on-off:checked + ul {
  height: 230px;
}
.signin label {
  font-weight: normal;
}
.signin label.normal {
  position: relative;
  cursor: pointer;
  display: block;
  background: url(img/common/login/arrow_bottom.png) no-repeat 1% 50%;
  background-size: 10px;
  color: #FFF;
  font-size: 11px;
  width: 100%;
  height: auto;
  padding: 0 0 0 20px;
  text-indent: 0;
  margin: 0 0 10px 0;
  text-align: left;
  text-decoration: underline;
}
.signin label.normal:hover {
  background: url(img/common/login/arrow_bottom.png) no-repeat 1% 50%;
  background-size: 10px;
  text-decoration: none;
}
.signin dt {
  font-weight: normal;
}
.signin ul.normal_area {
  list-style: none;
  background: #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  z-index: 1000;
  text-align: left;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
.signin ul.normal_area li dl {
  padding: 5px 10px;
  margin: 0;
  overflow: hidden;
}
.signin ul.normal_area li dt {
  width: 30%;
  float: left;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.signin ul.normal_area li dd {
  width: 70%;
  float: right;
  padding: 0;
  margin: 0;
}
.signin ul.normal_area li a {
  display: block !important;
  background: #FFF !important;
  width: 96% !important;
  height: auto !important;
  padding: 3px 0 !important;
  text-align: center;
  text-indent: 0 !important;
  margin: 5px 2% 0 2% !important;
  border: #004DA8 solid 1px !important;
  color: #004DA8 !important;
  font-size: 11px !important;
}
.signin ul.normal_area li a:hover {
  border-bottom: #0059B2 solid 5px !important;
}
.user-menu {
  display: none;
  background: white;
  position: absolute;
  top: 50px;
  right: 0px;
  width: 200px;
  z-index: 1;
}
.open > .user-menu {
  display: block;
}
.user-menu ul.menu {
  margin: 0;
  padding: 5px 0;
}
.user-menu ul.menu li {
  list-style-type: none;
}
.user-menu ul.menu li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background: #E5E5E5;
}
.user-menu ul.menu li a {
  display: block;
  text-decoration: none;
  padding: 5px 0 5px 30px;
}
.user-menu ul.menu li a:hover {
  background: #004DA8;
  color: white;
}
/* Feature
---------------------------- */
#feature {
  margin: 0 0 40px 0;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
  background: #CCC;
}
#feature .sp-slides {
  margin: 0;
  padding: 0;
}
#feature li.sp-slide {
  list-style: none;
}
#feature .sp-slide span.img {
  display: inline-block;
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#feature .sp-thumbnail {
  width: 200px;
  height: 130px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#feature a {
  color: #FFF;
  display: block;
  height: 450px;
  width: 100%;
}
#feature p {
  position: absolute;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 300px;
  right: 0;
  bottom: 15px;
  margin: 0;
}
#feature ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#feature ul a {
  color: #FFF;
}
#feature ul li {
  margin: 0;
  width: 200px;
  height: 150px;
}
/* Dataset
---------------------------- */
ul.dataset-container {
  padding: 0 10px;
  list-style: none;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
ul.dataset-container li {
  width: 280px;
  margin: 20px 5px;
  padding: 0;
  display: inline-block;
  text-align: initial;
}
ul.dataset-container li p.thumb {
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
  width: 270px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 0 3px 3px #CCC;
}
ul.dataset-container li p.thumb span.thumb-image {
  width: 270px;
  height: 270px;
  display: inline-block;
  margin-top: -35px;
}
ul.dataset-container li img {
  width: auto;
  height: 100%;
  margin-bottom: 10px;
}
ul.dataset-container li a {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
ul.dataset-container li .file {
  padding: 5px 10px 5px 30px;
  background: #eeeeee url(img/common/ico/file.png) no-repeat 10px 50%;
  color: #003366;
  font-weight: bold;
  margin: 10px 0;
}
ul.dataset-container li .tag {
  overflow: hidden;
  height: 56px;
}
ul.dataset-container li .tag a {
  display: block;
  text-align: center;
  margin: 3px;
  width: 95px;
  text-decoration: none;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  float: left;
}
ul.dataset-container li .tag a:hover {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}
ul.dataset-container li .tag a.tag01 {
  background: #FF7373;
}
ul.dataset-container li .tag a.tag02 {
  background: #9673FF;
}
ul.dataset-container li .tag a.tag03 {
  background: #FF9326;
}
ul.dataset-container li .tag a.tag04 {
  background: #85B200;
}
ul.dataset-container li .tag a.tag05 {
  background: #00A3D9;
}
ul.dataset-container li .tag a.tag06 {
  background: #999;
}
.dataset-head {
  height: 460px;
  overflow: hidden;
  padding: 5px 5px 0 5px;
}
.dataset-description {
  width: 100%;
}
/* Footer
---------------------------- */
.copyright {
  background: #003366;
  color: #FFF;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* Modal
---------------------------- */
#lean_overlay {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
#modal_window {
  background: url(img/top/modal.png);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  border: 15px solid #FFF;
  display: none;
  padding: 20px;
  width: 50%;
}
#modal_window .inner {
  position: relative;
  max-height: 50%;
}
#modal_window .inner h3 {
  margin: 0;
  padding: 0 0 5px 0;
  color: #003366;
}
#modal_window .inner hr {
  border: 1px dashed #CCC;
  margin: 15px 0;
}
#modal_window .inner ul {
  margin: 0;
  padding: 0 0 0 10px;
}
#modal_window .inner ul.link {
  list-style: none;
}
#modal_window .inner ul.link li a {
  background: url(img/common/login/arrow_right_bl.png) no-repeat;
  background-size: 10px;
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
}
#modal_window .inner ul.license {
  font-size: 12px;
  list-style: none;
}
.modal_close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 14px;
  height: 14px;
  display: block;
  background: url(img/common/ico/close.png) no-repeat;
  background-size: 14px;
  z-index: 100;
}
#dataset-edit .glyphicon {
  vertical-align: top;
}
.dataset-description-list {
  max-height: 60px;
  overflow: hidden;
}
